@model IEnumerable<Jigi.Models.Product>

@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid px-4">

    <h1 class="mt-4">PRODUCT</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">Products</li>
    </ol>

    <div class="card mb-4">
        <div class="card-body">
            <p class="text-center">Welcome To Admin Panel</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Product Deatils
            <a asp-controller="Admin" asp-action="AddProduct" class="btn btn-info fa-pull-right">Add New</a>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="datatablesSimple" width="100%" cellspacing="0">

                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Category Name</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Date Created</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
               
                    <tbody>
                        @foreach (var item in Model)
                        {
                            int count = 1;

                            <tr>
                                <td>@count</td>
                                <td>@item.CategoryName</td>
                                <td>@item.ProductName</td>
                                <td>@item.Price</td>
                                <td>@item.CreatedDate.Date</td>
                                <td>@item.Description</td>
                                <td>@item.Quantity</td>
                                <td>
                                    <div class="w-75 btn-group">
                                        <a asp-controller="Admin" asp-action="ProductEdit" asp-route-productId="@item.Id" class="btn btn-sm btn-info mx-1">Edit</a>
                                        <a asp-controller="Admin" asp-action="DeleteProduct" asp-route-productId="@item.Id" class="btn btn-sm btn-danger mx-1">Delete</a>
                                    </div>
                                </td>
                            </tr>
                            count ++;

                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

